/*
* spa.shell.css
* shell styles
*/
@height32: '32px';

[class^='spa-shell-'],
[class*='spa-shell-']
{
    position: absolute;
}

.spa-shell-head
{
    top: 0;
    right: 0;
    left: 0;

    height: 40px;
    &-logo
    {
        top: 4px;
        left: 8px;

        width: 140px;
        height: 32px;

        & h1
        {
            font: 800 22px/22px arial,helvetica,sans-serif;

            margin: 0;
        }
        & p
        {
            font: 800 10px/10px arial,helvetica,sans-serif;

            margin: 0;
        }
    }
    &-acct
    {
        line-height: 32px;

        top: 4px;
        right: 0;

        overflow: hidden;

        width: 210px;
        height: 32px;

        cursor: pointer;
        text-align: center;
        text-overflow: ellipsis;

        color: #fff;
        background-color: #888;
    }
    /* &-search
    {
        top: 4px;
        right: 64px;

        width: 248px;
        height: 32px;

        background-color: blue;
    } */
}
.spa-shell-main
{
    top: 40px;
    right: 0;
    bottom: 40px;
    left: 0;
    &-nav,
    &-content
    {
        top: 0;
        bottom: 0;
    }
    &-nav
    {
        z-index: 1;

        width: 400px;

        background-color: #eee;
    }
    &-content
    {
        right: 0;
        left: 400px;

        background-color: #ddd;
    }
    .spa-x-closed &-nav
    {
        width: 0;
    }

    .spa-x-closed &-content
    {
        left: 0;
    }
}
.spa-shell-foot
{
    right: 0;
    bottom: 0;
    left: 0;

    height: 40px;
}
/* .spa-shell-chat
{
    z-index: 1;
    right: 0;
    bottom: 0;

    width: 300px;
    height: 15px;

    border-radius: 5px 0 0 0;
    background-color: red;
    &:hover
    {
        background-color: #a00;
    }
} */
.spa-shell-modal
{
    z-index: 2;
    top: 50%;
    left: 50%;

    display: none;

    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;

    border-radius: 3px;
    background-color: #fff;
}
